body{
    text-align:center;
    background-color: rgb(182, 57, 101);
    font-size: 25px;
  }  
  
  #album
  {
    height:450px;
    border-radius:30px;
  }
  button
  {
  background-color:#d5507a;
    border-radius: 50px;
    font-size: 25px;
  }